<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Início - Loja IT</title>
</head>

<body>
    <div>
        <header class="header flex flex-center">
            <h1 class="titulo">loja ti</h1>
        </header>
        <br>
        <div class="flex vertical">
            <h1 class="sub-titulo cor-vermelho text-center">PUTS!</h1>
            <br>
            <p class="texto text-center">
                Que pena que não finalizou seu pagamento. Realizze seu pedido novamente para receber seu produto.
            </p>
        </div>
    </div>


</body>

</html>